* {
    /*border: 2px solid red;*/
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    font-family: sans-serif;
}

.formForo {
    border: 2px solid black;
    width: 400px;
}

.input {
    margin-left: -300px;
}
.input-cajas1 {
    margin-left: -190px;
}
.input-cajas2 {
    margin-left: -60px;
}
.btnInput {
    width: 150px;
    margin-left: 90px;
    box-shadow: 5px 4px;
}
.input-label-commen {
    margin-left: -295px;
}


.input2 {
    margin-left: -200px;
}
.input2-cajas1 {
    margin-left: -100px;
}
.input2-cajas2 {
    margin-left: 30px;
}
.btnInput2 {
    width: 150px;
    margin-left: 180px;
    box-shadow: 5px 4px;
}
.input2-commen {
    margin-left: -180px;
}


.chat1 {
    margin-left: 60px; 
    text-align: left;
}
